/* palette */

:root {
--calcolatrice-background: #f4f4f4;
--calcolatrice-backround2: #e0e0e0;
--display-background: #d6d6d6;
--display-text1: #333333; 
--calcolatrice-text: #555555; 
--display-text2: #999999; 

}

body {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#display {
    margin-top: 10%;
    background-color: var(--display-background);
    color: var(--display-text1);
    text-align: right;
    width: 17%;
    padding: 10px;
    border-radius: 20px;
}

table {
    font-size: large;
    width: 100%;
}

td {
    width: 20%;
    padding: 2px;
    box-sizing: border-box;
    text-align: center;
    font-size: large;
    border: none;
}

button {
    border: none;
    padding: 17px;
    border-radius: 10px;
    width: 100%;
    background-color: var(--calcolatrice-background);
    color: var(--calcolatrice-text);
}

button:hover {
    background-color: #eaeaea;
}

.operazione {
    background-color: var(--calcolatrice-backround2);
    color: var(--calcolatrice-text);
}

.operazione:hover {
    background-color: #d4d4d4;
}

#uguale {
    width: 200%;
}
